@{
    ViewBag.MetaDescription = SR.SignInMetaDescription;
    ViewBag.MetaRobots = "NOINDEX";
    ViewBag.Title = SR.SignInTitle;
}
@await Html.PartialAsync("_SignInErrors")
<h1 class="h2">@SR.SignInTitle</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <h2 class="h4">@SR.SignInSubtitle</h2>
            <hr />
            @await Html.PartialAsync("_SignInForm")
        </section>
    </div>
    <hr class="d-md-none" />
    <div class="col-md-8">
        <section>
            <h3 class="h4">@SR.SignInRegisterSubtitle</h3>
            <p>
                @SR.SignInRegisterText
            </p>
            <p>
                <a class="btn btn-lg btn-primary btn-lg" asp-route="@SiteRoutes.Register" title="@SR.RegisterLinkAltText" data-ga-label="Register (Button)">
                    @SR.RegisterLinkText
                    <i class="fas fa-user-plus" aria-hidden="true"></i>
                </a>
            </p>
        </section>
    </div>
</div>
@await Html.PartialAsync("_SignInModal")
@section stylesBody {
    @await Html.PartialAsync("_SocialButtonsStyles")
}
