@{
    bool authenticationEnabled = Options?.Authentication.IsEnabled == true;
}
<div class="jumbotron">
    <h1>@SR.BrandName</h1>
    <p class="lead">
        @SR.HomepageLead
    </p>
    <p>
        <a class="btn btn-lg  btn-primary" href="@Options?.ExternalLinks?.Skill" rel="noopener noreferrer" target="_blank" title="@SR.InstallLinkAltText" data-ga-label="Install Skill CTA">@SR.InstallLinkText <i class="fas fa-external-link-alt" aria-hidden="true"></i></a>
    </p>
    @if (authenticationEnabled)
    {
        <p>
            <a class="btn btn-lg btn-primary" asp-route="@SiteRoutes.Register" title="@SR.RegisterLinkAltText" data-ga-label="Register CTA">@SR.RegisterLinkText <i class="fas fa-user-plus" aria-hidden="true"></i></a>
            <a class="btn btn-lg btn-primary" asp-route="@SiteRoutes.SignIn" title="@SR.SignInLinkAltText" data-ga-label="Sign-in CTA">@SR.SignInLinkText <i class="fas fa-sign-in-alt" aria-hidden="true"></i></a>
        </p>
    }
</div>
